{# empty Twig template #}
<title>Selected object {{prodname}}</title>
{% block body %}
    <center><table border="1">
        <tr>
            <th>Object</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        <tr><td>{{prodname}}</td><td>{{prodprice}}</td><td>{{prodDesc}}</td></tr>
        </table></center>
{% endblock %}